body {
  background-color: #fffff0;
  font-family: Algerian, sans-serif;
  color: #37374f;
}

h1 {
  font-weight: 900;
  font-size: 3.5em;
}

p {
  font-size: 1.75em;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

#main-content {
  display: flex;
  min-width: 600px;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
}

#sub-content {
  margin-left: 1em;
}

.bg-color {
  display:inline-block;
  position:relative;
}

.bg-color::after,
.bg-color::before {
 content:"";
 display: block;
 height:.5em;
 position: absolute;
 left:0;
 right:0;
 bottom:0;
 z-index:-1;
}

.bg-color::before {
  background-color: #ececdc;
}

.bg-color::after {
  background-color: #af60ff;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s cubic-bezier(.86, 0, .07, 1)
}

.bg-color:hover::after {
  transform: scaleX(1);
}

::selection {
  background-color: #af60ff;
  color: #fffff0;
}